:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #318542;
}

.header ol {
  margin: 0 20px;
  padding: 0;
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.header__navbar {
  display: flex;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  background: none;
  border: none;
}

.hamburger__line {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: transform 0.3s;
}

.carousel {
  display: flex;
  width: 100%;
  height: 86vh;
  position: relative;
  overflow: hidden;
}

.container__image {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.container__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px);
}


.container__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(90, 144, 28, 0.277));
  z-index: 1;
}

.container__text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-align: center;
  padding: 20px;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  z-index: 2;
  transition: opacity 0.5s ease-in-out;
}


.container__text h1 {
  margin: 0;
  padding: 0;
}

.container__text button {
  width: 120px;
  height: 60px;
  border-radius: 15px;
  background-color: #318542;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 15px 0;
  transition: background-color 0.3s ease;
}

.container__text button:hover {
  background-color: #276633;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  z-index: 3;
}

.carousel__button--prev {
  left: 10px;
}

.carousel__button--next {
  right: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  gap: 15px;
  margin: 20px auto;
}

/* Card */
.card__container {
  display: flex;
  flex-direction: column;
  border: 3px solid #318542;
  border-radius: 20px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 450px;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

.card__container:hover {
  transform: translateY(-10px); /* Eleva la tarjeta */
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2); /* Sombra al elevar */
}

.card__image {
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 150px;
  margin: 15px auto;
  transition: transform 0.3s ease; /* Transición para efecto de zoom */
}

.card__container:hover .card__image {
  transform: scale(1.1); /* Zoom sobre la imagen */
}

.card__title {
  background-color: #318542;
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 35px;
  color: white;
  transition: background-color 0.3s ease; /* Transición del color de fondo */
}

.card__container:hover .card__title {
  background-color: #246a31; /* Color más oscuro en hover */
}

.card__description {
  margin: 10px 20px;
  height: 100%;
  font-size: 15px;
  font-weight: 600;
}


.footer {
  background-color: #318542;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.container__footer {
  display: flex;
  flex-direction: column;
}

.container__footer h1 {
  font-size: 30px;
  margin: 5px 0;
}

.container__footer a {
  text-decoration: none;
}

.container__social {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
}

.social__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}

.social__container h2 {
  font-size: 20px;
  margin: 8px 0;
  color: #000;
}

.social__container img {
  width: 60px;
}

.team {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.team img {
  width: 320px;
  height: 350px;
}

.container__team {
  display: flex;
  flex-direction: column;
  border: 2px solid #318542; 
  border-radius: 10px; 
  margin: 10px;
  width: 100%;
  max-width: 1200px;
  overflow: hidden; 
}

.container__team h1 {
  text-align: center;
  background-color: #318542;
  margin: 0;
  padding: 10px; 
  font-size: 24px; 
  color: white;
  width: 100%;
}

.container__team p {
  font-size: 24px; 
  text-align: center;
  margin: 10px; 
}

.information__team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.carousel_team {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 400px;
  padding: 10px 20px;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  z-index: 2;
}

.carousel__button--prev {
  left: 10px;
}

.carousel__button--next {
  right: 10px;
}


@media (max-width: 992px) {
  .header__navbar {
    display: none;
  }

  .hamburger {
    display: flex;
    margin: 15px 50px;
  }
  
  .navbar--open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #318542;
    padding: 1rem;
    border-radius: 8px;
    gap: 1rem;
  }

  .container__text,
  .container__image {
    width: 100%;
    height: auto;
  }

  .container__text {
    font-size: 20px;
  }

  .card__title {
    font-size: 30px;
  }

  .footer {
    flex-direction: column;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .header__container {
    flex-direction: column;
    align-items: flex-start;
  }

  .container__image,
  .container__text {
    width: 100%;
  }

  .card__container {
    max-width: 100%;
    margin: 10px 10px;
  }

  .container__social {
    flex-direction: column;
    align-items: center;
  }

  .container__text {
    font-size: 18px;
  }

  .container__footer h1 {
    font-size: 25px;
  }
}

@media (max-width: 480px) {
  .header a {
    font-size: large;
  }

  .container__text {
    padding: 10px;
    font-size: 16px;
  }

  .card__title {
    font-size: 24px;
  }

  .social__container h2 {
    font-size: 18px;
  }

  .team img {
    height: 250px;
  }

  .container__footer h1 {
    font-size: 20px;
  }
}
